extends layout

block content
  div.authBox
    h1= title
    if errors && errors.length > 0
      ul
        each error in errors
          li= error.message
    form#authForm(action="/auth" method="POST")
      input(type="text" name="username" placeholder="Username")
      input(type="password" name="password" placeholder="Password")
      button(type="submit") Log In
    div.authTag
      br
      a.authToggle(href=`/auth/new`) Sign up
    div.authFoot
      a.docs(href=`/docs`) README.md